.parent {
  background-color: #F8F8F8;
  box-shadow: 0 0 1px 0 #999999;
  border-radius: 4px;

  &:hover &{
    cursor: pointer;
    background-color: #e6ecff;


    &__text{
      background-color: #e6ecff;

    }

    &__text::before {
      background-color: #e6ecff;
    }

    &__overlay{
      opacity: 1;
      cursor: pointer;
    }
  }

  &__image {
    background-position: center;
    background-size: cover;
    transition: all 1s;
    padding : 4rem;
    position: relative;

    &--ratio {
      content: '';
      padding-top: 50%;
      position: relative;
    }

  }

  &__overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__overlay--text{
    font-size: 20px;
    color : #1AA170;
    margin-bottom: 1rem;
  }

  &__overlay--image{
    width: 84px;
    height: 20px;
    display: block;
    transform: rotate(180deg);
  }

  img{
    width: 100%;
    height: 100%;
  }


  &__text {
    direction: rtl;
    text-align: right;
    padding: 2rem 1rem;
    position: relative;
    min-height: 200px;


    &:before {
      content: '';
      width: 10px;
      height: 10px;
      background-color: #F8F8F8;
      transform: rotate(45deg);
      position: absolute;
      top: -5px;
      right: 5%;
    }

  }
  &__title {
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 3px solid #9DD9C5;
    display: inline-block;
  }

  &__intro {
    line-height: 1.4;
    font-size: 14px;
    font-weight: 400;
    margin-top: 1rem;
  }

}
