.test {
  width: 350px;
}

.article {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;

  &__image {
    width: 360px;
    flex: 0 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &--ratio {
      padding-top: 100%;
      position: relative;
    }
  }

  &__text {
    width: 50%;
    flex: 1 1 auto;
    margin-right: 2rem;
    text-align: right;
  }

  &__intro {
    p {
      display: inline-block;
    }
  }
}


.parent-items {
  background: #edecec;

  &__parent-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__items {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    background: #edecec;
  }

  &__item {
    width: calc(50% - 3rem);
    margin: 1.5rem;
    flex: 0 0 auto;
  }

}

.title-items {
  font-family: "p22-underground", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.background-article {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;


  &__pages {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  &__page {
    width: calc(50% - 2rem);
    margin: 1rem;
    border-radius: 4px;
    background-color: rgba(233, 233, 233, 0.4);
    padding: 2rem;
    font-size: 14px;
    direction: rtl;
    text-align: justify;
    position: relative;
    transition: all 1s;

    &:hover {
      background-color: #eeeeee;
      transform: scale(1.07);
    }

    .page-number {
      font-size: 10px;
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      padding: 1rem;

    }
  }
}

.space {
  padding: 50px 0;
}


.cards {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: -1rem;

  &__card {
    width: calc(25% - 2rem);
    flex: 0 0 auto;
    margin: 1rem;

  }
}


.start-intro {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 75px 200px;
  position: relative;
  z-index: 5;

  &__title {
    font-weight: 700;
    font-size: 20px;
  }

  &__text {
    font-size: 1rem;
    font-weight: 400;
  }


}

.container-cards {
  padding: 50px 0;
  background: #E5E5E5;
}


@media (max-width: 320px) {
  .wrapper {
    width: 300px;
  }
  .article {
    padding: 1rem;

    &__image {
      width: 100%;
    }

    &__text {
      width: 100%;
      margin-top: 50px;
    }
  }
  .parent-items {
    &__item {
      width: calc(100% - 3rem);
      margin-bottom: 2rem;
    }

  }
  .cards {
    &__card {
      width: calc(100% - 2rem);
    }
  }

  .start-intro {
    padding: 1rem;
  }

  .background-article {
    &__page {
      background-color: rgba(233, 233, 233, 0.8);
      width: calc(100% - 2rem);
    }

  }
}


@media (max-width: 425px) and (min-width: 320px) {
  .wrapper {
    width: 320px;
  }
  .article {
    padding: 1rem;

    &__image {
      width: 100%;
    }

    &__text {
      width: 100%;
      margin-top : 50px;
    }
  }
  .parent-items {
    &__item {
      width: calc(100% - 3rem);
      margin-bottom: 2rem;
    }

  }
  .background-article {
    &__pages {
      justify-content: center;
      align-items: center;
    }

    &__page {
      width: calc(100% - 2rem);
      background-color: rgba(233, 233, 233, 0.8);
    }

  }

  .cards {
    &__card {
      width: calc(100% - 2rem);
    }
  }
  .start-intro {
    padding: 1rem;
  }

  .background-article {
    &__page {
      background-color: rgba(233, 233, 233, 0.8);
      width: calc(100% - 2rem);
    }

  }
}

@media (max-width: 600px) and (min-width: 426px) {
  .wrapper {
    width: 425px;
  }
  .article {
    padding: 1rem;

    &__image {
      width: 100%;
    }

    &__text {
      width: 100%;
      margin-top : 50px;
    }
  }

  .cards {
    &__card {
      width: calc(100% - 2rem);
    }
  }
  .background-article {
    &__page {
      background-color: rgba(233, 233, 233, 0.8);
      width: calc(100% - 2rem);
    }

  }
}

@media (max-width: 768px) {
  .background-article {
    &__page {
      background-color: rgba(233, 233, 233, 0.8);
    }

  }

}

@media (max-width: 768px) and (min-width: 600px) {
  .wrapper {
    width: 550px;
  }
  .article {
    padding: 1rem;

    &__image {
      width: 100%;
    }

    &__text {
      width: 100%;
      margin-top : 50px;
    }
  }
  .cards {
    &__card {
      width: calc(50% - 2rem);
    }
  }
  .background-article {
    &__page {
      background-color: rgba(233, 233, 233, 0.8);
      width: calc(100% - 2rem);
    }
  }
}

@media (max-width: 922px) and (min-width: 769px) {
  .wrapper {
    width: 700px;
  }
  .cards {
    &__card {
      width: calc(33.3333% - 2rem);
    }
  }

}

@media (max-width: 1024px) and (min-width: 923px) {
  .wrapper {
    width: 850px;
  }
  .cards {
    &__card {
      width: calc(33.3333% - 2rem);
    }
  }

}

@media (max-width: 1200px) and (min-width: 1025px) {
  .wrapper {
    width: 950px;
  }
  .cards {
    &__card {
      width: calc(33.3333% - 2rem);
    }
  }

}

