
.box-white {
  direction: rtl;
  text-align: right;
  padding: 40px;
  margin-top: 50px;
}

.title{
  font-weight: bold;
  font-size: 1rem;
}


.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &__label {
    font-size: .8rem;
    font-weight: 400;
    color: #0d0d0d;
  }

  &__input:not([type = 'submit']) {
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    border: none;
    box-shadow: 0 0 3px deepskyblue;
  }

  &__error {
    color: #ff3837;
    display: block;
    font-size: .8rem;
    font-weight: 300;
  }

  textarea {
    resize: none;
    height: 150px;
    box-shadow: 0 0 3px deepskyblue;
    border: none;
    padding: 1rem;
  }

  &__submit {
    width: 100%;
    padding: .5rem 1rem;
    text-align: center;
    background-color: #e6ecff;
    color: #3363ff;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    box-shadow: 0 0 3px #3363ff;
    cursor: pointer;
  }

}
.space-items{
  margin-bottom: 50px;
}

