.btn-scroll {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 4rem;
  right: .25rem;
  border-radius: 100%;
  cursor: pointer;
  z-index: 10;

  svg {
    fill: #1b1b1b;
    width: 20px;
    height: 20px;
  }

}

.parent {
  width: 100%;
  height: 95vh;
  position: relative;
  top: 51px;
  direction: rtl;
  border: 20px solid #ffffff;
  border-top: none;
  border-bottom: none;


  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


  }

  &__slide {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: all .7s;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__texts {
    direction: rtl;
    text-align: justify;
    padding: 4rem 4rem 0 0;
    width: 400px;
    color: #ffffff;
    user-select: none;
    font-weight: 100;
    position: fixed;
    transition: all .5s;
  }

  &__parent-btn {
    width: 100px;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;


  }

  &__btn-next {
    color: #ffffff;
    transform: rotate(90deg);
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
    font-weight: lighter;
  }

  &__btn-prev {
    color: #ffffff;
    transform: rotate(-90deg);
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
    font-weight: lighter;
  }

  &__btn {
    cursor: pointer;

    svg {
      fill: #f0e1ff;

    }
  }
}


.fade-enter {
  opacity: 0;
}

.move-enter {
  transform: translateY(-200px);
}

.translate-enter {
  transform: translateY(-100px);
  opacity: 0;
}

.translate-leave-active {
  opacity: 0;
}


.fade-enter {
  opacity: 0;
}

.fade-leave-active {
  opacity: 0;
}


@media (max-width: 425px) {
  .parent {
    &__texts {
      display: none;
    }
  }
}
