
.parent {
  position: relative;

  &__header {
    background: #ffffff;
    color: #1b1b1b;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;


  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__item {
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
  }

  &__icon {
    display: none;
  }


  &__line-bottom {
    border-bottom: 1px solid #0d0d0d;
  }
}


@media (max-width: 1024px) {
  .parent {
    &__items {
      justify-content: space-around;
    }
  }
}

@media (max-width: 425px) {
  .parent {
    &__item {
      font-size: 16px;
      font-weight: 400;
    }

    &__text {
      display: none;
    }

    &__icon {
      display: flex;
    }
  }
}
